<nav id="sidebar">
    <div class="sidebar-header">
        <img src="~/Content/assets/Icons/logo-1.png" /><span>FC South</span>
    </div>

    <ul class="list-unstyled components mt-4">
        <li>
            <a href="@Url.Action("Index", "Home")">
                <svg id="dashboard" xmlns="http://www.w3.org/2000/svg" width="30" height="20"
                    viewBox="0 0 31.003 23.248">
                    <rect id="Rectangle_5" data-name="Rectangle 5" width="0.926" height="18.511"
                        transform="translate(0.795 1.163)" fill="#db2f27" opacity="0.28" />
                    <g id="Group_16" data-name="Group 16">
                        <path id="Path_46" data-name="Path 46"
                            d="M197.433,424.309a.777.777,0,0,1-.869.573q-14.661-.01-29.323,0a.83.83,0,0,1-.812-.453V404.69a.839.839,0,0,1,.861-.475q14.633.008,29.266,0a.833.833,0,0,1,.876.536Zm-1.338-.741V405.551H167.731v18.017Z"
                            transform="translate(-166.43 -404.214)" fill="#db2f27" />
                        <path id="Path_47" data-name="Path 47"
                            d="M195.321,457.283q2.647,0,5.294,0a.645.645,0,1,1,.019,1.282c-1.472,0-2.944,0-4.417,0H190.2c-.091,0-.182,0-.272,0a.65.65,0,0,1-.657-.648.638.638,0,0,1,.669-.632c1.391-.005,2.783,0,4.174,0Z"
                            transform="translate(-179.817 -435.321)" fill="#db2f27" />
                        <path id="Path_48" data-name="Path 48"
                            d="M217.123,419.976a3.856,3.856,0,1,1,.081-7.711,3.775,3.775,0,0,1,3.7,3.817A3.974,3.974,0,0,1,217.123,419.976Zm.64-6.342a2.566,2.566,0,0,0-1.236,4.982,2.456,2.456,0,0,0,2.99-1.52.864.864,0,0,0-.137-.041c-.68-.087-1.359-.181-2.041-.255-.788-.086-1.007-.494-.629-1.2C217.057,414.955,217.4,414.308,217.763,413.635Zm.413,1.967,1.531.187a2.483,2.483,0,0,0-.782-1.58Z"
                            transform="translate(-193.906 -408.933)" fill="#fff" />
                        <path id="Path_49" data-name="Path 49"
                            d="M200.7,420.139q0-2.844,0-5.688c0-.436.2-.71.534-.764a.649.649,0,0,1,.765.713c.008.837,0,1.674,0,2.511q0,4.371,0,8.743c0,.07,0,.141,0,.211a.653.653,0,1,1-1.3-.009c-.006-1.321,0-2.642,0-3.963v-1.755Z"
                            transform="translate(-186.517 -409.761)" fill="#fff" />
                        <path id="Path_50" data-name="Path 50"
                            d="M194.487,427.564c0-1.28,0-2.561,0-3.841a.63.63,0,0,1,.762-.674.663.663,0,0,1,.522.741q0,2.525,0,5.051c0,.827,0,1.654,0,2.48a.663.663,0,0,1-.648.749c-.389,0-.637-.289-.638-.756q0-1.875,0-3.75Z"
                            transform="translate(-182.875 -415.248)" fill="#fff" />
                        <path id="Path_51" data-name="Path 51"
                            d="M181.985,430.013c0-1.048-.006-2.1,0-3.145a.65.65,0,0,1,.983-.633.71.71,0,0,1,.317.675q0,2.026,0,4.052,0,1.028,0,2.056c0,.556-.238.871-.657.867s-.644-.311-.644-.879Q181.984,431.51,181.985,430.013Z"
                            transform="translate(-175.547 -417.063)" fill="#fff" />
                        <path id="Path_52" data-name="Path 52"
                            d="M217.068,436.791c-1.038,0-2.076,0-3.113,0-.471,0-.744-.242-.742-.643s.284-.64.75-.64q3.143,0,6.287,0a.643.643,0,0,1,.672.454.613.613,0,0,1-.252.715.994.994,0,0,1-.457.111C219.163,436.795,218.115,436.791,217.068,436.791Z"
                            transform="translate(-193.852 -422.556)" fill="#fff" />
                        <path id="Path_53" data-name="Path 53"
                            d="M217.065,443.042q-1.587,0-3.174,0a.633.633,0,0,1-.646-.4.568.568,0,0,1,.144-.691.855.855,0,0,1,.488-.185c2.126-.012,4.252-.01,6.377-.006a.637.637,0,0,1,.682.648.651.651,0,0,1-.7.638c-1.058,0-2.116,0-3.174,0Z"
                            transform="translate(-193.839 -426.218)" fill="#fff" />
                        <path id="Path_54" data-name="Path 54"
                            d="M188.234,432.455c0-.817,0-1.634,0-2.452A.649.649,0,1,1,189.52,430q0,2.5,0,4.994a.651.651,0,0,1-.639.726.667.667,0,0,1-.648-.751Q188.231,433.711,188.234,432.455Z"
                            transform="translate(-179.21 -418.896)" fill="#fff" />
                        <path id="Path_55" data-name="Path 55"
                            d="M177.053,437.443c0,.413,0,.826,0,1.239a.649.649,0,0,1-.634.7.641.641,0,0,1-.647-.682q-.007-1.254,0-2.508a.637.637,0,0,1,.646-.682.647.647,0,0,1,.635.7c0,.211,0,.423,0,.634Z"
                            transform="translate(-171.904 -422.558)" fill="#fff" />
                    </g>
                </svg>
                <span> Dashboard </span>
            </a>
        </li>
        <li>
            <a href="@Url.Action("Incidents", "Home")">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="20" viewBox="0 0 31.003 25.259">
                    <g id="usermanagement" transform="translate(-276.03 -391.418)">
                        <path id="Path_56" data-name="Path 56"
                            d="M324.524,403.051l-.365.077v.053l.276.014a4.486,4.486,0,0,1,2.8.989,3.006,3.006,0,0,1,.836,1.193,5.443,5.443,0,0,1,.351,2.186c-.006.371-.054.741-.079,1.111,0,.051,0,.128.036.152a.841.841,0,0,1,.309.8,1.278,1.278,0,0,1-.427.947,2.083,2.083,0,0,1-.3.149.332.332,0,0,0-.143.128c-.249.577-.482,1.16-.736,1.734a1.835,1.835,0,0,1-.588.67,6.063,6.063,0,0,1-1.926,1.029,2.187,2.187,0,0,1-1.489-.068,5.659,5.659,0,0,1-1.916-1.193,2.482,2.482,0,0,1-.534-.881c-.176-.428-.328-.867-.5-1.3-.018-.046-.068-.108-.107-.112-.368-.034-.531-.3-.652-.59a1.291,1.291,0,0,1-.041-1.012,2.323,2.323,0,0,1,.16-.241.4.4,0,0,0,.08-.21c-.054-.425-.133-.846-.183-1.271a3.719,3.719,0,0,1,.122-1.746,5.885,5.885,0,0,1,.483-.839c.034-.06.05-.13.078-.193a.341.341,0,0,1,.06-.1,1.937,1.937,0,0,1,1.146-.624,1.381,1.381,0,0,0,.658-.27,3.386,3.386,0,0,1,1.124-.571,3.289,3.289,0,0,1,1.382-.071.414.414,0,0,1,.069.022Z"
                            transform="translate(-28.16 -7.739)" fill="#fff" />
                        <path id="Path_57" data-name="Path 57"
                            d="M280.461,394.039a.692.692,0,0,1,.48.191c.27.216.544.427.814.642a.181.181,0,0,0,.227.017,8.315,8.315,0,0,1,1.679-.74,1.85,1.85,0,0,0,.323-.1.31.31,0,0,0,.148-.187c.056-.33.1-.664.135-1a.673.673,0,0,1,.7-.68c.452-.039.9-.114,1.357-.112a9.171,9.171,0,0,1,1.291.132.658.658,0,0,1,.536.636c.036.359.092.717.149,1.073a.212.212,0,0,0,.118.131c.414.156.837.292,1.247.458a7.552,7.552,0,0,1,.743.377.207.207,0,0,0,.256-.01c.267-.211.538-.418.8-.631a.651.651,0,0,1,.949-.014c.378.32.735.665,1.1,1,.083.075.088.124-.023.182s-.227.167-.353.222a4.409,4.409,0,0,1-.482.15.894.894,0,0,1-.191.057.4.4,0,0,1-.191-.036.551.551,0,0,1-.142-.119c-.2-.2-.165-.166-.373-.01a3.582,3.582,0,0,1-1.093.629.6.6,0,0,1-.52-.068,7.715,7.715,0,0,0-1.693-.819,6.474,6.474,0,0,0-.717-.188.7.7,0,0,1-.551-.51,9.919,9.919,0,0,1-.245-1.052c-.045-.246-.042-.269-.294-.274-.331-.006-.662,0-.992,0-.114,0-.145.053-.165.156-.067.349-.134.7-.224,1.044a.836.836,0,0,1-.693.66,6.329,6.329,0,0,0-2.21.928.849.849,0,0,1-.986-.023c-.283-.168-.553-.359-.821-.551-.087-.062-.136-.064-.209.01q-.384.393-.778.777c-.078.076-.078.127-.017.222.217.337.432.677.62,1.03a.711.711,0,0,1-.025.71c-.243.442-.484.887-.69,1.346a4.116,4.116,0,0,0-.275.9.823.823,0,0,1-.643.708c-.344.087-.693.159-1.042.225-.107.02-.154.057-.154.167,0,.351,0,.7,0,1.054,0,.148.078.2.2.218.3.055.611.1.91.18a.9.9,0,0,1,.737.773,5.531,5.531,0,0,0,.586,1.575,4.08,4.08,0,0,0,.3.522.853.853,0,0,1,.015,1.012c-.164.285-.348.56-.535.832-.061.089-.073.148.007.226.261.257.519.518.777.778.086.086.158.054.245-.007a9.325,9.325,0,0,1,.838-.55,1.491,1.491,0,0,1,.546-.138c.252-.027.427.165.624.279a6.432,6.432,0,0,0,1.961.773.849.849,0,0,1,.713.661c.066.243.122.49.167.738a.326.326,0,0,1-.056.224,5.437,5.437,0,0,0-.679,1.23c-.05.127-.1.136-.2.051a.7.7,0,0,1-.232-.506c-.041-.333-.082-.666-.123-1a.223.223,0,0,0-.187-.211,8.044,8.044,0,0,1-1.693-.666.577.577,0,0,1-.122-.065c-.206-.191-.379-.111-.561.046-.227.2-.466.376-.7.564a.665.665,0,0,1-.818.016,10.071,10.071,0,0,1-1.951-1.96.655.655,0,0,1,.046-.792c.222-.291.438-.588.659-.88a.176.176,0,0,0,.01-.224,8.779,8.779,0,0,1-.839-1.99.22.22,0,0,0-.136-.135,8.047,8.047,0,0,0-.948-.137.776.776,0,0,1-.766-.736c-.017-.417-.112-.833-.107-1.248a10.321,10.321,0,0,1,.136-1.355.636.636,0,0,1,.623-.547c.333-.038.666-.081,1-.119a.217.217,0,0,0,.209-.186,8.118,8.118,0,0,1,.827-1.959.174.174,0,0,0-.007-.223c-.206-.271-.4-.552-.611-.819a.689.689,0,0,1,0-.988,10.565,10.565,0,0,1,1.773-1.769A.7.7,0,0,1,280.461,394.039Z"
                            transform="translate(0 -0.651)" fill="#da251c" />
                        <path id="Path_58" data-name="Path 58"
                            d="M295.139,414.57a3.52,3.52,0,1,1,3.492,3.616A3.518,3.518,0,0,1,295.139,414.57Zm3.506,2.317a2.225,2.225,0,1,0,0-4.45,2.225,2.225,0,0,0,0,4.45Z"
                            transform="translate(-12.448 -13.081)" fill="#da251c" />
                        <path id="Path_59" data-name="Path 59"
                            d="M330.393,447.77c-.438-.623-.839-1.2-1.245-1.769a.363.363,0,0,1-.01-.341q.316-1.2.64-2.394a1.216,1.216,0,0,1,.063-.207.522.522,0,0,0-.114-.567c-.12-.168-.227-.345-.341-.517a.115.115,0,0,1,.015-.174c.294-.276.583-.557.874-.835.061-.058.119-.091.2-.015q.429.415.866.821a.148.148,0,0,1,.021.226c-.141.21-.268.429-.415.634a.332.332,0,0,0-.059.3q.139.507.276,1.015.18.666.359,1.332c.045.164.1.327.133.493a.266.266,0,0,1-.02.186c-.38.559-.766,1.114-1.151,1.67C330.456,447.67,330.432,447.71,330.393,447.77Z"
                            transform="translate(-34.572 -32.466)" fill="#fff" />
                        <path id="Path_60" data-name="Path 60"
                            d="M331.521,445.283q-.18-.666-.359-1.332-.138-.508-.276-1.015a.332.332,0,0,1,.059-.3c.147-.2.274-.425.415-.634a.148.148,0,0,0-.021-.226q-.438-.405-.866-.821c-.078-.076-.136-.044-.2.015-.291.279-.58.559-.874.835a.115.115,0,0,0-.015.174c.114.172.221.349.341.517a.522.522,0,0,1,.114.567,1.216,1.216,0,0,0-.063.207q-.322,1.2-.64,2.394a.363.363,0,0,0,.01.341c.407.571.808,1.146,1.245,1.769.039-.06.063-.1.09-.138.384-.556.771-1.11,1.151-1.67a.266.266,0,0,0,.02-.186C331.617,445.61,331.565,445.448,331.521,445.283Z"
                            transform="translate(-34.572 -32.466)" fill="none" />
                        <path id="Path_61" data-name="Path 61"
                            d="M298.79,411.152a3.519,3.519,0,1,0,3.385,3.641A3.518,3.518,0,0,0,298.79,411.152Z"
                            transform="translate(-12.448 -13.081)" fill="none" />
                        <path id="Path_62" data-name="Path 62"
                            d="M320.142,404.529a.341.341,0,0,0-.06.1c-.028.063-.044.134-.078.193a5.885,5.885,0,0,0-.483.839,3.719,3.719,0,0,0-.122,1.746c.049.425.129.846.183,1.271a.4.4,0,0,1-.08.21,2.323,2.323,0,0,0-.16.241,1.291,1.291,0,0,0,.041,1.012c.122.288.284.556.652.59.04,0,.09.066.107.112.167.432.319.87.5,1.3a2.482,2.482,0,0,0,.534.881,5.659,5.659,0,0,0,1.916,1.193,2.187,2.187,0,0,0,1.489.068,6.07,6.07,0,0,0,1.926-1.029,1.835,1.835,0,0,0,.588-.67c.254-.574.488-1.158.736-1.734a.332.332,0,0,1,.143-.128,2.083,2.083,0,0,0,.3-.149,1.278,1.278,0,0,0,.427-.947.841.841,0,0,0-.309-.8c-.032-.024-.039-.1-.036-.152.024-.371.072-.741.079-1.111a5.443,5.443,0,0,0-.351-2.186,3.006,3.006,0,0,0-.836-1.193,4.486,4.486,0,0,0-2.8-.989l-.276-.014v-.053l.365-.077,0-.037a.414.414,0,0,0-.069-.022,3.289,3.289,0,0,0-1.382.071,3.386,3.386,0,0,0-1.124.571,1.381,1.381,0,0,1-.658.27A1.937,1.937,0,0,0,320.142,404.529Z"
                            transform="translate(-28.16 -7.739)" fill="none" />
                        <path id="Path_63" data-name="Path 63"
                            d="M284.7,412.072a5.437,5.437,0,0,1,.679-1.23.326.326,0,0,0,.056-.224c-.044-.248-.1-.495-.167-.738a.849.849,0,0,0-.713-.661,6.432,6.432,0,0,1-1.961-.773c-.2-.114-.372-.305-.624-.279a1.491,1.491,0,0,0-.546.138,9.325,9.325,0,0,0-.838.55c-.087.06-.159.093-.245.007-.258-.26-.516-.521-.777-.778-.079-.078-.068-.137-.007-.226.187-.272.371-.546.535-.832a.853.853,0,0,0-.015-1.012,4.08,4.08,0,0,1-.3-.522,5.531,5.531,0,0,1-.586-1.575.9.9,0,0,0-.737-.773c-.3-.075-.606-.124-.91-.18-.127-.023-.207-.07-.2-.218.006-.351.005-.7,0-1.054,0-.11.047-.146.154-.167.349-.066.7-.137,1.042-.225a.823.823,0,0,0,.643-.708,4.116,4.116,0,0,1,.275-.9c.206-.46.448-.9.69-1.346a.711.711,0,0,0,.025-.71c-.189-.353-.4-.693-.62-1.03-.061-.095-.062-.146.017-.222q.395-.383.778-.777c.073-.074.122-.073.209-.01.267.192.538.383.821.551a.849.849,0,0,0,.986.023,6.329,6.329,0,0,1,2.21-.928.836.836,0,0,0,.693-.66c.09-.344.157-.694.224-1.044.02-.1.051-.157.165-.156.33,0,.661-.005.992,0,.252,0,.248.028.294.274a9.919,9.919,0,0,0,.245,1.052.7.7,0,0,0,.551.51,6.474,6.474,0,0,1,.717.188,7.715,7.715,0,0,1,1.693.819.6.6,0,0,0,.52.068,3.582,3.582,0,0,0,1.093-.629c.208-.156.171-.193.373.01a.551.551,0,0,0,.142.119.4.4,0,0,0,.191.036.894.894,0,0,0,.191-.057,4.409,4.409,0,0,0,.482-.15c.126-.055.23-.158.353-.222s.106-.107.023-.182c-.367-.333-.724-.678-1.1-1a.651.651,0,0,0-.949.014c-.266.213-.537.42-.8.631a.207.207,0,0,1-.256.01,7.552,7.552,0,0,0-.743-.377c-.41-.166-.833-.3-1.247-.458a.212.212,0,0,1-.118-.131c-.058-.356-.113-.714-.149-1.073a.658.658,0,0,0-.536-.636,9.171,9.171,0,0,0-1.291-.132c-.452,0-.9.072-1.357.112a.673.673,0,0,0-.7.68c-.038.334-.078.667-.135,1a.31.31,0,0,1-.148.188,1.85,1.85,0,0,1-.323.1,8.315,8.315,0,0,0-1.679.74.181.181,0,0,1-.227-.017c-.27-.216-.544-.426-.814-.642a.7.7,0,0,0-.964.005A10.565,10.565,0,0,0,278.2,396a.689.689,0,0,0,0,.988c.212.266.4.548.611.819a.174.174,0,0,1,.007.223,8.118,8.118,0,0,0-.827,1.959.217.217,0,0,1-.209.186c-.334.038-.666.081-1,.119a.636.636,0,0,0-.623.547,10.321,10.321,0,0,0-.136,1.355c0,.415.089.831.107,1.248a.776.776,0,0,0,.766.736,8.047,8.047,0,0,1,.948.137.22.22,0,0,1,.136.135,8.779,8.779,0,0,0,.839,1.99.176.176,0,0,1-.01.224c-.221.292-.437.589-.659.88a.655.655,0,0,0-.046.792,10.071,10.071,0,0,0,1.951,1.96.665.665,0,0,0,.818-.016c.234-.188.473-.368.7-.564.182-.157.355-.237.561-.046a.577.577,0,0,0,.122.065,8.044,8.044,0,0,0,1.693.666.223.223,0,0,1,.187.211c.042.333.082.666.123,1a.7.7,0,0,0,.232.506C284.606,412.208,284.652,412.2,284.7,412.072Z"
                            transform="translate(0 -0.651)" fill="none" />
                        <path id="Path_64" data-name="Path 64"
                            d="M322.579,444.326a17.667,17.667,0,0,0-.782-2.75,2.978,2.978,0,0,0-1.008-1.395,33.119,33.119,0,0,0-3.425-2.068c-.638-.348-1.281-.685-1.923-1.024-.185-.1-.374-.187-.581-.291-.016.078-.031.131-.039.185-.092.6-.184,1.2-.274,1.808-.1.7-.2,1.411-.307,2.116-.1.665-.188,1.33-.293,1.993a1.4,1.4,0,0,1-.162.554c-.613.907-1.247,1.8-1.874,2.7-.12.172-.132.172-.253,0-.508-.716-1.013-1.433-1.525-2.146a2.527,2.527,0,0,1-.576-1.238c-.08-.8-.221-1.6-.339-2.393-.07-.47-.146-.939-.217-1.409q-.154-1.018-.3-2.038c-.015-.1-.061-.12-.147-.073q-1.245.667-2.49,1.331a32.135,32.135,0,0,0-3,1.786,3.166,3.166,0,0,0-.946.858,7.817,7.817,0,0,0-.876,2.253c-.1.389-.189.783-.272,1.177-.1.485-.195.972-.289,1.459-.048.247-.092.495-.137.747H323v-.217a.58.58,0,0,1-.075-.144C322.808,445.512,322.711,444.915,322.579,444.326Z"
                            transform="translate(-15.967 -29.789)" fill="#fff" />
                    </g>
                </svg>
                <span> Incidents</span>
            </a>
        </li>
        <li>
            <a href="@Url.Action("Threat", "Home")">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="20" viewBox="0 0 27.986 28.054">
                    <g id="rolesrightmanagement" transform="translate(-22.132 -534.944)">
                        <g id="Group_20" data-name="Group 20" transform="translate(33.788 544.767)">
                            <g id="Group_19" data-name="Group 19" transform="translate(0 0)">
                                <path id="Path_69" data-name="Path 69"
                                    d="M89.33,589.608a2.337,2.337,0,1,0,2.337,2.337A2.337,2.337,0,0,0,89.33,589.608Zm0,3.74a1.4,1.4,0,1,1,1.4-1.4A1.4,1.4,0,0,1,89.33,593.348Z"
                                    transform="translate(-86.993 -589.608)" fill="#da251c" />
                            </g>
                        </g>
                        <g id="Group_22" data-name="Group 22" transform="translate(30.983 534.944)">
                            <g id="Group_21" data-name="Group 21" transform="translate(0 0)">
                                <path id="Path_70" data-name="Path 70"
                                    d="M81.361,546.148l-.646-.285c-.025-.09-.052-.177-.081-.262l.359-.62a.468.468,0,0,0,0-.462,5.235,5.235,0,0,0-.673-.94.467.467,0,0,0-.452-.144l-.539.123v-3A2.806,2.806,0,0,0,77.88,538.1a1.87,1.87,0,1,0-2.7,0,2.806,2.806,0,0,0-1.452,2.456v3l-.539-.123a.467.467,0,0,0-.452.144,5.25,5.25,0,0,0-.673.94.468.468,0,0,0,0,.462l.359.62q-.043.125-.08.258l-.672.286a.467.467,0,0,0-.284.43v1.058a.468.468,0,0,0,.284.43l.672.286c.025.089.052.175.08.258l-.359.62a.467.467,0,0,0,0,.462,5.248,5.248,0,0,0,.673.94.467.467,0,0,0,.453.144l.679-.155q.1.078.206.152l.066.72a.467.467,0,0,0,.269.382,5.052,5.052,0,0,0,1.085.364.469.469,0,0,0,.45-.152l.476-.553h.228l.476.553a.468.468,0,0,0,.45.152,5.049,5.049,0,0,0,1.084-.364.467.467,0,0,0,.269-.381l.066-.72q.106-.073.206-.152l.679.155a.466.466,0,0,0,.452-.144,5.263,5.263,0,0,0,.673-.94.468.468,0,0,0,0-.462l-.359-.62q.044-.127.081-.262l.646-.285a.467.467,0,0,0,.279-.428v-1.058A.468.468,0,0,0,81.361,546.148Zm-4.833-10.262a.935.935,0,1,1-.935.935A.935.935,0,0,1,76.528,535.886Zm-1.87,4.674a1.87,1.87,0,1,1,3.74,0v1.675a4.957,4.957,0,0,0-.83-.263.469.469,0,0,0-.45.152l-.476.553h-.228l-.476-.553a.469.469,0,0,0-.45-.152,4.949,4.949,0,0,0-.83.263v-1.675Zm6.046,6.768-.576.254a.468.468,0,0,0-.267.324,3.492,3.492,0,0,1-.176.565.468.468,0,0,0,.028.413l.332.573q-.113.176-.244.341l-.626-.143a.465.465,0,0,0-.414.105,3.429,3.429,0,0,1-.467.345.467.467,0,0,0-.219.355l-.061.668q-.189.074-.376.128l-.429-.5a.467.467,0,0,0-.354-.162H76.2a.468.468,0,0,0-.354.162l-.429.5c-.125-.036-.251-.079-.376-.128l-.061-.667a.468.468,0,0,0-.22-.355,3.437,3.437,0,0,1-.466-.345.465.465,0,0,0-.413-.105l-.626.143q-.131-.166-.244-.341l.332-.574a.467.467,0,0,0,.028-.413,3.472,3.472,0,0,1-.176-.565.467.467,0,0,0-.273-.326l-.6-.256v-.44l.6-.256a.468.468,0,0,0,.273-.326,3.512,3.512,0,0,1,.176-.565.467.467,0,0,0-.028-.413l-.332-.573q.113-.175.244-.341l.626.143a.469.469,0,0,0,.413-.105,3.43,3.43,0,0,1,.467-.345.467.467,0,0,0,.219-.355l.061-.668q.188-.074.377-.128l.428.5a.468.468,0,0,0,.354.162h.656a.469.469,0,0,0,.354-.162l.429-.5c.125.036.251.079.376.128l.061.667a.467.467,0,0,0,.22.355,3.422,3.422,0,0,1,.467.345.468.468,0,0,0,.413.1l.626-.143q.131.166.244.341l-.333.574a.467.467,0,0,0-.027.413,3.508,3.508,0,0,1,.176.565.468.468,0,0,0,.267.324l.576.254v.449Z"
                                    transform="translate(-71.386 -534.944)" fill="#fff" />
                            </g>
                        </g>
                        <g id="Group_24" data-name="Group 24" transform="translate(42.669 555.518)">
                            <g id="Group_23" data-name="Group 23">
                                <path id="Path_71" data-name="Path 71"
                                    d="M138.753,649.436a2.337,2.337,0,1,0,2.337,2.337A2.337,2.337,0,0,0,138.753,649.436Zm0,3.74a1.4,1.4,0,1,1,1.4-1.4A1.4,1.4,0,0,1,138.753,653.176Z"
                                    transform="translate(-136.416 -649.436)" fill="#da251c" />
                            </g>
                        </g>
                        <g id="Group_26" data-name="Group 26" transform="translate(39.864 545.695)">
                            <g id="Group_25" data-name="Group 25" transform="translate(0 0)">
                                <path id="Path_72" data-name="Path 72"
                                    d="M130.783,605.976l-.646-.285q-.038-.135-.081-.262l.359-.62a.467.467,0,0,0,0-.462,5.23,5.23,0,0,0-.673-.94.467.467,0,0,0-.452-.144l-.539.123v-3a2.807,2.807,0,0,0-1.452-2.456,1.87,1.87,0,1,0-2.7,0,2.807,2.807,0,0,0-1.452,2.456v3l-.539-.123a.468.468,0,0,0-.452.143,5.246,5.246,0,0,0-.673.94.467.467,0,0,0,0,.462l.359.62q-.043.125-.08.259l-.672.286a.468.468,0,0,0-.284.43v1.058a.467.467,0,0,0,.284.43l.672.286c.025.089.052.175.08.258l-.359.62a.467.467,0,0,0,0,.462,5.243,5.243,0,0,0,.673.94.466.466,0,0,0,.452.144l.679-.155q.1.078.206.152l.066.72a.468.468,0,0,0,.269.382,5.054,5.054,0,0,0,1.084.364.468.468,0,0,0,.45-.152l.476-.553h.228l.476.553a.468.468,0,0,0,.45.152,5.054,5.054,0,0,0,1.084-.364.468.468,0,0,0,.269-.381l.066-.72c.07-.049.139-.1.206-.152l.679.155a.464.464,0,0,0,.452-.144,5.266,5.266,0,0,0,.673-.94.468.468,0,0,0,0-.462l-.359-.62q.044-.127.081-.262l.646-.285a.468.468,0,0,0,.279-.428V606.4A.467.467,0,0,0,130.783,605.976Zm-4.833-10.262a.935.935,0,1,1-.935.935A.935.935,0,0,1,125.95,595.714Zm-1.87,4.674a1.87,1.87,0,0,1,3.74,0v1.675a4.935,4.935,0,0,0-.83-.263.469.469,0,0,0-.45.152l-.476.553h-.228l-.476-.553a.469.469,0,0,0-.45-.152,4.926,4.926,0,0,0-.83.263v-1.675Zm6.046,6.769-.576.254a.468.468,0,0,0-.267.324,3.488,3.488,0,0,1-.176.565.468.468,0,0,0,.028.413l.333.574q-.113.175-.244.341l-.626-.143a.465.465,0,0,0-.414.1,3.392,3.392,0,0,1-.467.345.468.468,0,0,0-.219.355l-.061.667q-.189.075-.376.128l-.429-.5a.467.467,0,0,0-.354-.162h-.656a.468.468,0,0,0-.354.162l-.429.5c-.125-.036-.251-.078-.376-.128l-.061-.667a.467.467,0,0,0-.22-.355,3.433,3.433,0,0,1-.467-.345.465.465,0,0,0-.413-.1l-.626.143q-.131-.166-.244-.341l.333-.574a.468.468,0,0,0,.027-.413,3.489,3.489,0,0,1-.176-.565.466.466,0,0,0-.273-.326l-.6-.256v-.441l.6-.256a.467.467,0,0,0,.273-.326,3.509,3.509,0,0,1,.176-.565.468.468,0,0,0-.028-.413l-.332-.573q.113-.175.244-.341l.626.143a.467.467,0,0,0,.414-.1,3.434,3.434,0,0,1,.467-.345.467.467,0,0,0,.219-.355l.061-.668q.188-.074.377-.128l.428.5a.468.468,0,0,0,.354.162h.656a.468.468,0,0,0,.354-.162l.429-.5c.125.036.251.078.376.128l.061.667a.468.468,0,0,0,.22.355,3.454,3.454,0,0,1,.467.345.467.467,0,0,0,.413.1l.626-.143q.131.165.244.341l-.333.574a.468.468,0,0,0-.028.413,3.491,3.491,0,0,1,.176.565.468.468,0,0,0,.267.324l.576.254v.449Z"
                                    transform="translate(-120.808 -594.772)" fill="#fff" />
                            </g>
                        </g>
                        <g id="Group_28" data-name="Group 28" transform="translate(24.906 555.518)">
                            <g id="Group_27" data-name="Group 27" transform="translate(0)">
                                <path id="Path_73" data-name="Path 73"
                                    d="M39.907,649.436a2.337,2.337,0,1,0,2.337,2.337A2.337,2.337,0,0,0,39.907,649.436Zm0,3.74a1.4,1.4,0,1,1,1.4-1.4A1.4,1.4,0,0,1,39.907,653.176Z"
                                    transform="translate(-37.57 -649.436)" fill="#da251c" />
                            </g>
                        </g>
                        <g id="Group_30" data-name="Group 30" transform="translate(22.132 545.695)">
                            <g id="Group_29" data-name="Group 29" transform="translate(0 0)">
                                <path id="Path_74" data-name="Path 74"
                                    d="M32.076,605.976l-.646-.285q-.038-.135-.081-.262l.359-.62a.467.467,0,0,0,0-.462,5.243,5.243,0,0,0-.673-.94.468.468,0,0,0-.453-.144l-.539.123v-3a2.806,2.806,0,0,0-1.452-2.456,1.87,1.87,0,1,0-2.7,0,2.807,2.807,0,0,0-1.452,2.456v3l-.539-.123a.468.468,0,0,0-.452.143,5.255,5.255,0,0,0-.673.94.468.468,0,0,0,0,.462l.359.62q-.044.127-.081.262l-.645.285a.468.468,0,0,0-.279.428v1.058a.468.468,0,0,0,.279.428l.646.285q.038.135.081.262l-.359.62a.467.467,0,0,0,0,.462,5.252,5.252,0,0,0,.673.94.466.466,0,0,0,.453.144l.679-.155q.1.078.206.152l.066.72a.468.468,0,0,0,.269.382,5.054,5.054,0,0,0,1.084.364.467.467,0,0,0,.45-.152l.476-.553h.228l.476.553a.468.468,0,0,0,.45.152,5.055,5.055,0,0,0,1.084-.364.467.467,0,0,0,.269-.381l.066-.72q.106-.073.206-.152l.679.155a.466.466,0,0,0,.453-.144,5.266,5.266,0,0,0,.673-.94.468.468,0,0,0,0-.462l-.359-.62q.044-.127.081-.262l.646-.285a.468.468,0,0,0,.279-.428V606.4A.467.467,0,0,0,32.076,605.976Zm-4.833-10.262a.935.935,0,1,1-.935.935A.935.935,0,0,1,27.243,595.714Zm-1.87,4.674a1.87,1.87,0,0,1,3.739,0v1.675a4.929,4.929,0,0,0-.83-.263.468.468,0,0,0-.45.152l-.476.553H27.13l-.476-.553a.469.469,0,0,0-.45-.152,4.926,4.926,0,0,0-.83.263v-1.675Zm6.046,6.769-.576.254a.468.468,0,0,0-.267.324,3.488,3.488,0,0,1-.176.565.468.468,0,0,0,.028.413l.333.574q-.113.175-.244.341l-.626-.143a.465.465,0,0,0-.414.1,3.391,3.391,0,0,1-.467.345.468.468,0,0,0-.219.355l-.061.667q-.189.075-.376.128l-.429-.5a.467.467,0,0,0-.354-.162h-.656a.468.468,0,0,0-.354.162l-.429.5c-.125-.036-.251-.078-.376-.128l-.061-.667a.468.468,0,0,0-.22-.355,3.433,3.433,0,0,1-.467-.345.465.465,0,0,0-.413-.1l-.626.143q-.131-.166-.244-.341l.333-.574a.468.468,0,0,0,.028-.413,3.49,3.49,0,0,1-.176-.565.468.468,0,0,0-.267-.324l-.576-.254v-.449l.576-.254a.468.468,0,0,0,.267-.324,3.483,3.483,0,0,1,.176-.565.468.468,0,0,0-.028-.413l-.332-.573q.113-.175.244-.341l.626.143a.468.468,0,0,0,.414-.1,3.434,3.434,0,0,1,.467-.345.468.468,0,0,0,.219-.355l.061-.668q.188-.074.376-.128l.429.5a.467.467,0,0,0,.354.162h.656a.469.469,0,0,0,.354-.162l.429-.5c.125.036.251.078.376.128l.061.667a.468.468,0,0,0,.22.355,3.433,3.433,0,0,1,.467.345.466.466,0,0,0,.413.1l.626-.143q.131.165.244.341l-.333.574a.468.468,0,0,0-.027.413,3.49,3.49,0,0,1,.176.565.468.468,0,0,0,.267.324l.576.254v.449Z"
                                    transform="translate(-22.132 -594.772)" fill="#fff" />
                            </g>
                        </g>
                        <g id="Group_32" data-name="Group 32" transform="translate(24.749 538.748)">
                            <g id="Group_31" data-name="Group 31" transform="translate(0 0)">
                                <path id="Path_75" data-name="Path 75"
                                    d="M43.157,556.111a12.636,12.636,0,0,0-6.463,6.157l.842.406a11.7,11.7,0,0,1,5.985-5.7Z"
                                    transform="translate(-36.694 -556.111)" fill="#da251c" />
                            </g>
                        </g>
                        <g id="Group_34" data-name="Group 34" transform="translate(32.372 561.474)">
                            <g id="Group_33" data-name="Group 33">
                                <path id="Path_76" data-name="Path 76"
                                    d="M86.543,682.576a11.808,11.808,0,0,1-7.149.063l-.277.893a12.69,12.69,0,0,0,7.72-.069Z"
                                    transform="translate(-79.116 -682.576)" fill="#da251c" />
                            </g>
                        </g>
                        <g id="Group_36" data-name="Group 36" transform="translate(40.557 538.695)">
                            <g id="Group_35" data-name="Group 35" transform="translate(0 0)">
                                <path id="Path_77" data-name="Path 77"
                                    d="M125.017,555.818l-.355.865a11.673,11.673,0,0,1,6.16,5.872l.847-.4A12.606,12.606,0,0,0,125.017,555.818Z"
                                    transform="translate(-124.662 -555.818)" fill="#da251c" />
                            </g>
                        </g>
                    </g>
                </svg>

                <span> Threats</span>
            </a>
        </li>
        <li>
            <a href="@Url.Action("Organization", "Home")">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="20" viewBox="0 0 27.986 28.054">
                    <g id="rolesrightmanagement" transform="translate(-22.132 -534.944)">
                        <g id="Group_20" data-name="Group 20" transform="translate(33.788 544.767)">
                            <g id="Group_19" data-name="Group 19" transform="translate(0 0)">
                                <path id="Path_69" data-name="Path 69"
                                      d="M89.33,589.608a2.337,2.337,0,1,0,2.337,2.337A2.337,2.337,0,0,0,89.33,589.608Zm0,3.74a1.4,1.4,0,1,1,1.4-1.4A1.4,1.4,0,0,1,89.33,593.348Z"
                                      transform="translate(-86.993 -589.608)" fill="#da251c" />
                            </g>
                        </g>
                        <g id="Group_22" data-name="Group 22" transform="translate(30.983 534.944)">
                            <g id="Group_21" data-name="Group 21" transform="translate(0 0)">
                                <path id="Path_70" data-name="Path 70"
                                      d="M81.361,546.148l-.646-.285c-.025-.09-.052-.177-.081-.262l.359-.62a.468.468,0,0,0,0-.462,5.235,5.235,0,0,0-.673-.94.467.467,0,0,0-.452-.144l-.539.123v-3A2.806,2.806,0,0,0,77.88,538.1a1.87,1.87,0,1,0-2.7,0,2.806,2.806,0,0,0-1.452,2.456v3l-.539-.123a.467.467,0,0,0-.452.144,5.25,5.25,0,0,0-.673.94.468.468,0,0,0,0,.462l.359.62q-.043.125-.08.258l-.672.286a.467.467,0,0,0-.284.43v1.058a.468.468,0,0,0,.284.43l.672.286c.025.089.052.175.08.258l-.359.62a.467.467,0,0,0,0,.462,5.248,5.248,0,0,0,.673.94.467.467,0,0,0,.453.144l.679-.155q.1.078.206.152l.066.72a.467.467,0,0,0,.269.382,5.052,5.052,0,0,0,1.085.364.469.469,0,0,0,.45-.152l.476-.553h.228l.476.553a.468.468,0,0,0,.45.152,5.049,5.049,0,0,0,1.084-.364.467.467,0,0,0,.269-.381l.066-.72q.106-.073.206-.152l.679.155a.466.466,0,0,0,.452-.144,5.263,5.263,0,0,0,.673-.94.468.468,0,0,0,0-.462l-.359-.62q.044-.127.081-.262l.646-.285a.467.467,0,0,0,.279-.428v-1.058A.468.468,0,0,0,81.361,546.148Zm-4.833-10.262a.935.935,0,1,1-.935.935A.935.935,0,0,1,76.528,535.886Zm-1.87,4.674a1.87,1.87,0,1,1,3.74,0v1.675a4.957,4.957,0,0,0-.83-.263.469.469,0,0,0-.45.152l-.476.553h-.228l-.476-.553a.469.469,0,0,0-.45-.152,4.949,4.949,0,0,0-.83.263v-1.675Zm6.046,6.768-.576.254a.468.468,0,0,0-.267.324,3.492,3.492,0,0,1-.176.565.468.468,0,0,0,.028.413l.332.573q-.113.176-.244.341l-.626-.143a.465.465,0,0,0-.414.105,3.429,3.429,0,0,1-.467.345.467.467,0,0,0-.219.355l-.061.668q-.189.074-.376.128l-.429-.5a.467.467,0,0,0-.354-.162H76.2a.468.468,0,0,0-.354.162l-.429.5c-.125-.036-.251-.079-.376-.128l-.061-.667a.468.468,0,0,0-.22-.355,3.437,3.437,0,0,1-.466-.345.465.465,0,0,0-.413-.105l-.626.143q-.131-.166-.244-.341l.332-.574a.467.467,0,0,0,.028-.413,3.472,3.472,0,0,1-.176-.565.467.467,0,0,0-.273-.326l-.6-.256v-.44l.6-.256a.468.468,0,0,0,.273-.326,3.512,3.512,0,0,1,.176-.565.467.467,0,0,0-.028-.413l-.332-.573q.113-.175.244-.341l.626.143a.469.469,0,0,0,.413-.105,3.43,3.43,0,0,1,.467-.345.467.467,0,0,0,.219-.355l.061-.668q.188-.074.377-.128l.428.5a.468.468,0,0,0,.354.162h.656a.469.469,0,0,0,.354-.162l.429-.5c.125.036.251.079.376.128l.061.667a.467.467,0,0,0,.22.355,3.422,3.422,0,0,1,.467.345.468.468,0,0,0,.413.1l.626-.143q.131.166.244.341l-.333.574a.467.467,0,0,0-.027.413,3.508,3.508,0,0,1,.176.565.468.468,0,0,0,.267.324l.576.254v.449Z"
                                      transform="translate(-71.386 -534.944)" fill="#fff" />
                            </g>
                        </g>
                        <g id="Group_24" data-name="Group 24" transform="translate(42.669 555.518)">
                            <g id="Group_23" data-name="Group 23">
                                <path id="Path_71" data-name="Path 71"
                                      d="M138.753,649.436a2.337,2.337,0,1,0,2.337,2.337A2.337,2.337,0,0,0,138.753,649.436Zm0,3.74a1.4,1.4,0,1,1,1.4-1.4A1.4,1.4,0,0,1,138.753,653.176Z"
                                      transform="translate(-136.416 -649.436)" fill="#da251c" />
                            </g>
                        </g>
                        <g id="Group_26" data-name="Group 26" transform="translate(39.864 545.695)">
                            <g id="Group_25" data-name="Group 25" transform="translate(0 0)">
                                <path id="Path_72" data-name="Path 72"
                                      d="M130.783,605.976l-.646-.285q-.038-.135-.081-.262l.359-.62a.467.467,0,0,0,0-.462,5.23,5.23,0,0,0-.673-.94.467.467,0,0,0-.452-.144l-.539.123v-3a2.807,2.807,0,0,0-1.452-2.456,1.87,1.87,0,1,0-2.7,0,2.807,2.807,0,0,0-1.452,2.456v3l-.539-.123a.468.468,0,0,0-.452.143,5.246,5.246,0,0,0-.673.94.467.467,0,0,0,0,.462l.359.62q-.043.125-.08.259l-.672.286a.468.468,0,0,0-.284.43v1.058a.467.467,0,0,0,.284.43l.672.286c.025.089.052.175.08.258l-.359.62a.467.467,0,0,0,0,.462,5.243,5.243,0,0,0,.673.94.466.466,0,0,0,.452.144l.679-.155q.1.078.206.152l.066.72a.468.468,0,0,0,.269.382,5.054,5.054,0,0,0,1.084.364.468.468,0,0,0,.45-.152l.476-.553h.228l.476.553a.468.468,0,0,0,.45.152,5.054,5.054,0,0,0,1.084-.364.468.468,0,0,0,.269-.381l.066-.72c.07-.049.139-.1.206-.152l.679.155a.464.464,0,0,0,.452-.144,5.266,5.266,0,0,0,.673-.94.468.468,0,0,0,0-.462l-.359-.62q.044-.127.081-.262l.646-.285a.468.468,0,0,0,.279-.428V606.4A.467.467,0,0,0,130.783,605.976Zm-4.833-10.262a.935.935,0,1,1-.935.935A.935.935,0,0,1,125.95,595.714Zm-1.87,4.674a1.87,1.87,0,0,1,3.74,0v1.675a4.935,4.935,0,0,0-.83-.263.469.469,0,0,0-.45.152l-.476.553h-.228l-.476-.553a.469.469,0,0,0-.45-.152,4.926,4.926,0,0,0-.83.263v-1.675Zm6.046,6.769-.576.254a.468.468,0,0,0-.267.324,3.488,3.488,0,0,1-.176.565.468.468,0,0,0,.028.413l.333.574q-.113.175-.244.341l-.626-.143a.465.465,0,0,0-.414.1,3.392,3.392,0,0,1-.467.345.468.468,0,0,0-.219.355l-.061.667q-.189.075-.376.128l-.429-.5a.467.467,0,0,0-.354-.162h-.656a.468.468,0,0,0-.354.162l-.429.5c-.125-.036-.251-.078-.376-.128l-.061-.667a.467.467,0,0,0-.22-.355,3.433,3.433,0,0,1-.467-.345.465.465,0,0,0-.413-.1l-.626.143q-.131-.166-.244-.341l.333-.574a.468.468,0,0,0,.027-.413,3.489,3.489,0,0,1-.176-.565.466.466,0,0,0-.273-.326l-.6-.256v-.441l.6-.256a.467.467,0,0,0,.273-.326,3.509,3.509,0,0,1,.176-.565.468.468,0,0,0-.028-.413l-.332-.573q.113-.175.244-.341l.626.143a.467.467,0,0,0,.414-.1,3.434,3.434,0,0,1,.467-.345.467.467,0,0,0,.219-.355l.061-.668q.188-.074.377-.128l.428.5a.468.468,0,0,0,.354.162h.656a.468.468,0,0,0,.354-.162l.429-.5c.125.036.251.078.376.128l.061.667a.468.468,0,0,0,.22.355,3.454,3.454,0,0,1,.467.345.467.467,0,0,0,.413.1l.626-.143q.131.165.244.341l-.333.574a.468.468,0,0,0-.028.413,3.491,3.491,0,0,1,.176.565.468.468,0,0,0,.267.324l.576.254v.449Z"
                                      transform="translate(-120.808 -594.772)" fill="#fff" />
                            </g>
                        </g>
                        <g id="Group_28" data-name="Group 28" transform="translate(24.906 555.518)">
                            <g id="Group_27" data-name="Group 27" transform="translate(0)">
                                <path id="Path_73" data-name="Path 73"
                                      d="M39.907,649.436a2.337,2.337,0,1,0,2.337,2.337A2.337,2.337,0,0,0,39.907,649.436Zm0,3.74a1.4,1.4,0,1,1,1.4-1.4A1.4,1.4,0,0,1,39.907,653.176Z"
                                      transform="translate(-37.57 -649.436)" fill="#da251c" />
                            </g>
                        </g>
                        <g id="Group_30" data-name="Group 30" transform="translate(22.132 545.695)">
                            <g id="Group_29" data-name="Group 29" transform="translate(0 0)">
                                <path id="Path_74" data-name="Path 74"
                                      d="M32.076,605.976l-.646-.285q-.038-.135-.081-.262l.359-.62a.467.467,0,0,0,0-.462,5.243,5.243,0,0,0-.673-.94.468.468,0,0,0-.453-.144l-.539.123v-3a2.806,2.806,0,0,0-1.452-2.456,1.87,1.87,0,1,0-2.7,0,2.807,2.807,0,0,0-1.452,2.456v3l-.539-.123a.468.468,0,0,0-.452.143,5.255,5.255,0,0,0-.673.94.468.468,0,0,0,0,.462l.359.62q-.044.127-.081.262l-.645.285a.468.468,0,0,0-.279.428v1.058a.468.468,0,0,0,.279.428l.646.285q.038.135.081.262l-.359.62a.467.467,0,0,0,0,.462,5.252,5.252,0,0,0,.673.94.466.466,0,0,0,.453.144l.679-.155q.1.078.206.152l.066.72a.468.468,0,0,0,.269.382,5.054,5.054,0,0,0,1.084.364.467.467,0,0,0,.45-.152l.476-.553h.228l.476.553a.468.468,0,0,0,.45.152,5.055,5.055,0,0,0,1.084-.364.467.467,0,0,0,.269-.381l.066-.72q.106-.073.206-.152l.679.155a.466.466,0,0,0,.453-.144,5.266,5.266,0,0,0,.673-.94.468.468,0,0,0,0-.462l-.359-.62q.044-.127.081-.262l.646-.285a.468.468,0,0,0,.279-.428V606.4A.467.467,0,0,0,32.076,605.976Zm-4.833-10.262a.935.935,0,1,1-.935.935A.935.935,0,0,1,27.243,595.714Zm-1.87,4.674a1.87,1.87,0,0,1,3.739,0v1.675a4.929,4.929,0,0,0-.83-.263.468.468,0,0,0-.45.152l-.476.553H27.13l-.476-.553a.469.469,0,0,0-.45-.152,4.926,4.926,0,0,0-.83.263v-1.675Zm6.046,6.769-.576.254a.468.468,0,0,0-.267.324,3.488,3.488,0,0,1-.176.565.468.468,0,0,0,.028.413l.333.574q-.113.175-.244.341l-.626-.143a.465.465,0,0,0-.414.1,3.391,3.391,0,0,1-.467.345.468.468,0,0,0-.219.355l-.061.667q-.189.075-.376.128l-.429-.5a.467.467,0,0,0-.354-.162h-.656a.468.468,0,0,0-.354.162l-.429.5c-.125-.036-.251-.078-.376-.128l-.061-.667a.468.468,0,0,0-.22-.355,3.433,3.433,0,0,1-.467-.345.465.465,0,0,0-.413-.1l-.626.143q-.131-.166-.244-.341l.333-.574a.468.468,0,0,0,.028-.413,3.49,3.49,0,0,1-.176-.565.468.468,0,0,0-.267-.324l-.576-.254v-.449l.576-.254a.468.468,0,0,0,.267-.324,3.483,3.483,0,0,1,.176-.565.468.468,0,0,0-.028-.413l-.332-.573q.113-.175.244-.341l.626.143a.468.468,0,0,0,.414-.1,3.434,3.434,0,0,1,.467-.345.468.468,0,0,0,.219-.355l.061-.668q.188-.074.376-.128l.429.5a.467.467,0,0,0,.354.162h.656a.469.469,0,0,0,.354-.162l.429-.5c.125.036.251.078.376.128l.061.667a.468.468,0,0,0,.22.355,3.433,3.433,0,0,1,.467.345.466.466,0,0,0,.413.1l.626-.143q.131.165.244.341l-.333.574a.468.468,0,0,0-.027.413,3.49,3.49,0,0,1,.176.565.468.468,0,0,0,.267.324l.576.254v.449Z"
                                      transform="translate(-22.132 -594.772)" fill="#fff" />
                            </g>
                        </g>
                        <g id="Group_32" data-name="Group 32" transform="translate(24.749 538.748)">
                            <g id="Group_31" data-name="Group 31" transform="translate(0 0)">
                                <path id="Path_75" data-name="Path 75"
                                      d="M43.157,556.111a12.636,12.636,0,0,0-6.463,6.157l.842.406a11.7,11.7,0,0,1,5.985-5.7Z"
                                      transform="translate(-36.694 -556.111)" fill="#da251c" />
                            </g>
                        </g>
                        <g id="Group_34" data-name="Group 34" transform="translate(32.372 561.474)">
                            <g id="Group_33" data-name="Group 33">
                                <path id="Path_76" data-name="Path 76"
                                      d="M86.543,682.576a11.808,11.808,0,0,1-7.149.063l-.277.893a12.69,12.69,0,0,0,7.72-.069Z"
                                      transform="translate(-79.116 -682.576)" fill="#da251c" />
                            </g>
                        </g>
                        <g id="Group_36" data-name="Group 36" transform="translate(40.557 538.695)">
                            <g id="Group_35" data-name="Group 35" transform="translate(0 0)">
                                <path id="Path_77" data-name="Path 77"
                                      d="M125.017,555.818l-.355.865a11.673,11.673,0,0,1,6.16,5.872l.847-.4A12.606,12.606,0,0,0,125.017,555.818Z"
                                      transform="translate(-124.662 -555.818)" fill="#da251c" />
                            </g>
                        </g>
                    </g>
                </svg>

                <span> Organization</span>
            </a>
        </li>
        <li>
            <a href="@Url.Action("Terrorist", "Home")">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="20" viewBox="0 0 27.986 28.054">
                    <g id="rolesrightmanagement" transform="translate(-22.132 -534.944)">
                        <g id="Group_20" data-name="Group 20" transform="translate(33.788 544.767)">
                            <g id="Group_19" data-name="Group 19" transform="translate(0 0)">
                                <path id="Path_69" data-name="Path 69"
                                      d="M89.33,589.608a2.337,2.337,0,1,0,2.337,2.337A2.337,2.337,0,0,0,89.33,589.608Zm0,3.74a1.4,1.4,0,1,1,1.4-1.4A1.4,1.4,0,0,1,89.33,593.348Z"
                                      transform="translate(-86.993 -589.608)" fill="#da251c" />
                            </g>
                        </g>
                        <g id="Group_22" data-name="Group 22" transform="translate(30.983 534.944)">
                            <g id="Group_21" data-name="Group 21" transform="translate(0 0)">
                                <path id="Path_70" data-name="Path 70"
                                      d="M81.361,546.148l-.646-.285c-.025-.09-.052-.177-.081-.262l.359-.62a.468.468,0,0,0,0-.462,5.235,5.235,0,0,0-.673-.94.467.467,0,0,0-.452-.144l-.539.123v-3A2.806,2.806,0,0,0,77.88,538.1a1.87,1.87,0,1,0-2.7,0,2.806,2.806,0,0,0-1.452,2.456v3l-.539-.123a.467.467,0,0,0-.452.144,5.25,5.25,0,0,0-.673.94.468.468,0,0,0,0,.462l.359.62q-.043.125-.08.258l-.672.286a.467.467,0,0,0-.284.43v1.058a.468.468,0,0,0,.284.43l.672.286c.025.089.052.175.08.258l-.359.62a.467.467,0,0,0,0,.462,5.248,5.248,0,0,0,.673.94.467.467,0,0,0,.453.144l.679-.155q.1.078.206.152l.066.72a.467.467,0,0,0,.269.382,5.052,5.052,0,0,0,1.085.364.469.469,0,0,0,.45-.152l.476-.553h.228l.476.553a.468.468,0,0,0,.45.152,5.049,5.049,0,0,0,1.084-.364.467.467,0,0,0,.269-.381l.066-.72q.106-.073.206-.152l.679.155a.466.466,0,0,0,.452-.144,5.263,5.263,0,0,0,.673-.94.468.468,0,0,0,0-.462l-.359-.62q.044-.127.081-.262l.646-.285a.467.467,0,0,0,.279-.428v-1.058A.468.468,0,0,0,81.361,546.148Zm-4.833-10.262a.935.935,0,1,1-.935.935A.935.935,0,0,1,76.528,535.886Zm-1.87,4.674a1.87,1.87,0,1,1,3.74,0v1.675a4.957,4.957,0,0,0-.83-.263.469.469,0,0,0-.45.152l-.476.553h-.228l-.476-.553a.469.469,0,0,0-.45-.152,4.949,4.949,0,0,0-.83.263v-1.675Zm6.046,6.768-.576.254a.468.468,0,0,0-.267.324,3.492,3.492,0,0,1-.176.565.468.468,0,0,0,.028.413l.332.573q-.113.176-.244.341l-.626-.143a.465.465,0,0,0-.414.105,3.429,3.429,0,0,1-.467.345.467.467,0,0,0-.219.355l-.061.668q-.189.074-.376.128l-.429-.5a.467.467,0,0,0-.354-.162H76.2a.468.468,0,0,0-.354.162l-.429.5c-.125-.036-.251-.079-.376-.128l-.061-.667a.468.468,0,0,0-.22-.355,3.437,3.437,0,0,1-.466-.345.465.465,0,0,0-.413-.105l-.626.143q-.131-.166-.244-.341l.332-.574a.467.467,0,0,0,.028-.413,3.472,3.472,0,0,1-.176-.565.467.467,0,0,0-.273-.326l-.6-.256v-.44l.6-.256a.468.468,0,0,0,.273-.326,3.512,3.512,0,0,1,.176-.565.467.467,0,0,0-.028-.413l-.332-.573q.113-.175.244-.341l.626.143a.469.469,0,0,0,.413-.105,3.43,3.43,0,0,1,.467-.345.467.467,0,0,0,.219-.355l.061-.668q.188-.074.377-.128l.428.5a.468.468,0,0,0,.354.162h.656a.469.469,0,0,0,.354-.162l.429-.5c.125.036.251.079.376.128l.061.667a.467.467,0,0,0,.22.355,3.422,3.422,0,0,1,.467.345.468.468,0,0,0,.413.1l.626-.143q.131.166.244.341l-.333.574a.467.467,0,0,0-.027.413,3.508,3.508,0,0,1,.176.565.468.468,0,0,0,.267.324l.576.254v.449Z"
                                      transform="translate(-71.386 -534.944)" fill="#fff" />
                            </g>
                        </g>
                        <g id="Group_24" data-name="Group 24" transform="translate(42.669 555.518)">
                            <g id="Group_23" data-name="Group 23">
                                <path id="Path_71" data-name="Path 71"
                                      d="M138.753,649.436a2.337,2.337,0,1,0,2.337,2.337A2.337,2.337,0,0,0,138.753,649.436Zm0,3.74a1.4,1.4,0,1,1,1.4-1.4A1.4,1.4,0,0,1,138.753,653.176Z"
                                      transform="translate(-136.416 -649.436)" fill="#da251c" />
                            </g>
                        </g>
                        <g id="Group_26" data-name="Group 26" transform="translate(39.864 545.695)">
                            <g id="Group_25" data-name="Group 25" transform="translate(0 0)">
                                <path id="Path_72" data-name="Path 72"
                                      d="M130.783,605.976l-.646-.285q-.038-.135-.081-.262l.359-.62a.467.467,0,0,0,0-.462,5.23,5.23,0,0,0-.673-.94.467.467,0,0,0-.452-.144l-.539.123v-3a2.807,2.807,0,0,0-1.452-2.456,1.87,1.87,0,1,0-2.7,0,2.807,2.807,0,0,0-1.452,2.456v3l-.539-.123a.468.468,0,0,0-.452.143,5.246,5.246,0,0,0-.673.94.467.467,0,0,0,0,.462l.359.62q-.043.125-.08.259l-.672.286a.468.468,0,0,0-.284.43v1.058a.467.467,0,0,0,.284.43l.672.286c.025.089.052.175.08.258l-.359.62a.467.467,0,0,0,0,.462,5.243,5.243,0,0,0,.673.94.466.466,0,0,0,.452.144l.679-.155q.1.078.206.152l.066.72a.468.468,0,0,0,.269.382,5.054,5.054,0,0,0,1.084.364.468.468,0,0,0,.45-.152l.476-.553h.228l.476.553a.468.468,0,0,0,.45.152,5.054,5.054,0,0,0,1.084-.364.468.468,0,0,0,.269-.381l.066-.72c.07-.049.139-.1.206-.152l.679.155a.464.464,0,0,0,.452-.144,5.266,5.266,0,0,0,.673-.94.468.468,0,0,0,0-.462l-.359-.62q.044-.127.081-.262l.646-.285a.468.468,0,0,0,.279-.428V606.4A.467.467,0,0,0,130.783,605.976Zm-4.833-10.262a.935.935,0,1,1-.935.935A.935.935,0,0,1,125.95,595.714Zm-1.87,4.674a1.87,1.87,0,0,1,3.74,0v1.675a4.935,4.935,0,0,0-.83-.263.469.469,0,0,0-.45.152l-.476.553h-.228l-.476-.553a.469.469,0,0,0-.45-.152,4.926,4.926,0,0,0-.83.263v-1.675Zm6.046,6.769-.576.254a.468.468,0,0,0-.267.324,3.488,3.488,0,0,1-.176.565.468.468,0,0,0,.028.413l.333.574q-.113.175-.244.341l-.626-.143a.465.465,0,0,0-.414.1,3.392,3.392,0,0,1-.467.345.468.468,0,0,0-.219.355l-.061.667q-.189.075-.376.128l-.429-.5a.467.467,0,0,0-.354-.162h-.656a.468.468,0,0,0-.354.162l-.429.5c-.125-.036-.251-.078-.376-.128l-.061-.667a.467.467,0,0,0-.22-.355,3.433,3.433,0,0,1-.467-.345.465.465,0,0,0-.413-.1l-.626.143q-.131-.166-.244-.341l.333-.574a.468.468,0,0,0,.027-.413,3.489,3.489,0,0,1-.176-.565.466.466,0,0,0-.273-.326l-.6-.256v-.441l.6-.256a.467.467,0,0,0,.273-.326,3.509,3.509,0,0,1,.176-.565.468.468,0,0,0-.028-.413l-.332-.573q.113-.175.244-.341l.626.143a.467.467,0,0,0,.414-.1,3.434,3.434,0,0,1,.467-.345.467.467,0,0,0,.219-.355l.061-.668q.188-.074.377-.128l.428.5a.468.468,0,0,0,.354.162h.656a.468.468,0,0,0,.354-.162l.429-.5c.125.036.251.078.376.128l.061.667a.468.468,0,0,0,.22.355,3.454,3.454,0,0,1,.467.345.467.467,0,0,0,.413.1l.626-.143q.131.165.244.341l-.333.574a.468.468,0,0,0-.028.413,3.491,3.491,0,0,1,.176.565.468.468,0,0,0,.267.324l.576.254v.449Z"
                                      transform="translate(-120.808 -594.772)" fill="#fff" />
                            </g>
                        </g>
                        <g id="Group_28" data-name="Group 28" transform="translate(24.906 555.518)">
                            <g id="Group_27" data-name="Group 27" transform="translate(0)">
                                <path id="Path_73" data-name="Path 73"
                                      d="M39.907,649.436a2.337,2.337,0,1,0,2.337,2.337A2.337,2.337,0,0,0,39.907,649.436Zm0,3.74a1.4,1.4,0,1,1,1.4-1.4A1.4,1.4,0,0,1,39.907,653.176Z"
                                      transform="translate(-37.57 -649.436)" fill="#da251c" />
                            </g>
                        </g>
                        <g id="Group_30" data-name="Group 30" transform="translate(22.132 545.695)">
                            <g id="Group_29" data-name="Group 29" transform="translate(0 0)">
                                <path id="Path_74" data-name="Path 74"
                                      d="M32.076,605.976l-.646-.285q-.038-.135-.081-.262l.359-.62a.467.467,0,0,0,0-.462,5.243,5.243,0,0,0-.673-.94.468.468,0,0,0-.453-.144l-.539.123v-3a2.806,2.806,0,0,0-1.452-2.456,1.87,1.87,0,1,0-2.7,0,2.807,2.807,0,0,0-1.452,2.456v3l-.539-.123a.468.468,0,0,0-.452.143,5.255,5.255,0,0,0-.673.94.468.468,0,0,0,0,.462l.359.62q-.044.127-.081.262l-.645.285a.468.468,0,0,0-.279.428v1.058a.468.468,0,0,0,.279.428l.646.285q.038.135.081.262l-.359.62a.467.467,0,0,0,0,.462,5.252,5.252,0,0,0,.673.94.466.466,0,0,0,.453.144l.679-.155q.1.078.206.152l.066.72a.468.468,0,0,0,.269.382,5.054,5.054,0,0,0,1.084.364.467.467,0,0,0,.45-.152l.476-.553h.228l.476.553a.468.468,0,0,0,.45.152,5.055,5.055,0,0,0,1.084-.364.467.467,0,0,0,.269-.381l.066-.72q.106-.073.206-.152l.679.155a.466.466,0,0,0,.453-.144,5.266,5.266,0,0,0,.673-.94.468.468,0,0,0,0-.462l-.359-.62q.044-.127.081-.262l.646-.285a.468.468,0,0,0,.279-.428V606.4A.467.467,0,0,0,32.076,605.976Zm-4.833-10.262a.935.935,0,1,1-.935.935A.935.935,0,0,1,27.243,595.714Zm-1.87,4.674a1.87,1.87,0,0,1,3.739,0v1.675a4.929,4.929,0,0,0-.83-.263.468.468,0,0,0-.45.152l-.476.553H27.13l-.476-.553a.469.469,0,0,0-.45-.152,4.926,4.926,0,0,0-.83.263v-1.675Zm6.046,6.769-.576.254a.468.468,0,0,0-.267.324,3.488,3.488,0,0,1-.176.565.468.468,0,0,0,.028.413l.333.574q-.113.175-.244.341l-.626-.143a.465.465,0,0,0-.414.1,3.391,3.391,0,0,1-.467.345.468.468,0,0,0-.219.355l-.061.667q-.189.075-.376.128l-.429-.5a.467.467,0,0,0-.354-.162h-.656a.468.468,0,0,0-.354.162l-.429.5c-.125-.036-.251-.078-.376-.128l-.061-.667a.468.468,0,0,0-.22-.355,3.433,3.433,0,0,1-.467-.345.465.465,0,0,0-.413-.1l-.626.143q-.131-.166-.244-.341l.333-.574a.468.468,0,0,0,.028-.413,3.49,3.49,0,0,1-.176-.565.468.468,0,0,0-.267-.324l-.576-.254v-.449l.576-.254a.468.468,0,0,0,.267-.324,3.483,3.483,0,0,1,.176-.565.468.468,0,0,0-.028-.413l-.332-.573q.113-.175.244-.341l.626.143a.468.468,0,0,0,.414-.1,3.434,3.434,0,0,1,.467-.345.468.468,0,0,0,.219-.355l.061-.668q.188-.074.376-.128l.429.5a.467.467,0,0,0,.354.162h.656a.469.469,0,0,0,.354-.162l.429-.5c.125.036.251.078.376.128l.061.667a.468.468,0,0,0,.22.355,3.433,3.433,0,0,1,.467.345.466.466,0,0,0,.413.1l.626-.143q.131.165.244.341l-.333.574a.468.468,0,0,0-.027.413,3.49,3.49,0,0,1,.176.565.468.468,0,0,0,.267.324l.576.254v.449Z"
                                      transform="translate(-22.132 -594.772)" fill="#fff" />
                            </g>
                        </g>
                        <g id="Group_32" data-name="Group 32" transform="translate(24.749 538.748)">
                            <g id="Group_31" data-name="Group 31" transform="translate(0 0)">
                                <path id="Path_75" data-name="Path 75"
                                      d="M43.157,556.111a12.636,12.636,0,0,0-6.463,6.157l.842.406a11.7,11.7,0,0,1,5.985-5.7Z"
                                      transform="translate(-36.694 -556.111)" fill="#da251c" />
                            </g>
                        </g>
                        <g id="Group_34" data-name="Group 34" transform="translate(32.372 561.474)">
                            <g id="Group_33" data-name="Group 33">
                                <path id="Path_76" data-name="Path 76"
                                      d="M86.543,682.576a11.808,11.808,0,0,1-7.149.063l-.277.893a12.69,12.69,0,0,0,7.72-.069Z"
                                      transform="translate(-79.116 -682.576)" fill="#da251c" />
                            </g>
                        </g>
                        <g id="Group_36" data-name="Group 36" transform="translate(40.557 538.695)">
                            <g id="Group_35" data-name="Group 35" transform="translate(0 0)">
                                <path id="Path_77" data-name="Path 77"
                                      d="M125.017,555.818l-.355.865a11.673,11.673,0,0,1,6.16,5.872l.847-.4A12.606,12.606,0,0,0,125.017,555.818Z"
                                      transform="translate(-124.662 -555.818)" fill="#da251c" />
                            </g>
                        </g>
                    </g>
                </svg>

                <span> Terrorist</span>
            </a>
        </li>
        <li>
            <a href="@Url.Action("UserManagement", "Home")">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="20" viewBox="0 0 31.282 21.94">
                    <g id="inventorymovement" transform="translate(-13.924 -434.03)">
                        <g id="Group_1011" data-name="Group 1011" transform="translate(13.924 434.468)">
                            <path id="Path_3091" data-name="Path 3091"
                                d="M1321.779-145.236l.7-.4c.315-.182.628-.369.945-.547a.383.383,0,0,1,.541.126.372.372,0,0,1-.149.534q-1.079.634-2.166,1.253a.532.532,0,0,1-.568-.065q-.9-.536-1.792-1.073c-1.569-.945-3.135-1.894-4.708-2.835a.537.537,0,0,1-.291-.519q.006-3.549,0-7.1a.6.6,0,0,1,.367-.594q3.237-1.6,6.463-3.231a.54.54,0,0,1,.533-.005q3.278,1.648,6.56,3.286c.073.037.145.075.217.113a.272.272,0,0,1,.153.274c-.005.784-.012,1.569,0,2.353a.414.414,0,0,1-.584.419.344.344,0,0,1-.253-.374c0-.508,0-1.017,0-1.525v-.228a1.586,1.586,0,0,0-.152.065q-2.84,1.611-5.68,3.22a.25.25,0,0,0-.156.245q.008,3.2.005,6.4C1321.767-145.387,1321.773-145.333,1321.779-145.236ZM1327.293-156a.5.5,0,0,0-.066-.055q-2.86-1.431-5.723-2.856a.308.308,0,0,0-.24.007q-2.831,1.406-5.656,2.823a1.155,1.155,0,0,0-.114.077c.056.036.1.065.139.09q2.791,1.583,5.58,3.169a.313.313,0,0,0,.357,0q2.288-1.306,4.582-2.6C1326.528-155.567,1326.9-155.782,1327.293-156ZM1321-145.268c.007-.061.013-.085.013-.109q0-3.247-.007-6.5a.3.3,0,0,0-.14-.207q-2.835-1.619-5.676-3.227c-.036-.021-.076-.035-.133-.061,0,.072-.011.126-.011.18q0,3.078,0,6.156a.286.286,0,0,0,.164.281q2.662,1.6,5.319,3.2C1320.675-145.457,1320.826-145.37,1321-145.268Z"
                                transform="translate(-1314.29 159.983)" fill="#da251c" />
                            <path id="Path_3092" data-name="Path 3092"
                                d="M1322.781-131.658a1.3,1.3,0,0,1,.181.08q1.081.645,2.159,1.3a.368.368,0,0,1,.159.541.365.365,0,0,1-.54.1q-1.09-.648-2.177-1.3a.363.363,0,0,1-.193-.443A.39.39,0,0,1,1322.781-131.658Z"
                                transform="translate(-1320.555 138.145)" fill="#fff" />
                        </g>
                        <path id="Path_3087" data-name="Path 3087"
                            d="M1179.051-252.313q0-1.894,0-3.783c0-.9,0-1.8,0-2.7a.5.5,0,0,1,.318-.511q2.466-1.162,4.924-2.34a.583.583,0,0,1,.567.017c1.478.754,2.956,1.508,4.442,2.245a.613.613,0,0,1,.4.647c-.021,2.045-.01,4.09-.01,6.136v.314a3.247,3.247,0,0,1,.594.165c1.505.755,3,1.526,4.507,2.282a.548.548,0,0,1,.339.551q-.008,3.168,0,6.336a.521.521,0,0,1-.311.516c-1.632.873-3.258,1.758-4.892,2.627a.48.48,0,0,1-.39-.005c-1.606-.868-3.2-1.753-4.809-2.624a.547.547,0,0,1-.312-.543c0-1.962,0-3.924.007-5.885,0-.228-.031-.384-.331-.4v.353c0,1.97,0,3.94,0,5.911a.6.6,0,0,1-.356.594c-1.584.857-3.159,1.731-4.745,2.585a.532.532,0,0,1-.433.009c-1.586-.854-3.16-1.728-4.744-2.585a.612.612,0,0,1-.366-.612q.012-3.156,0-6.311a.513.513,0,0,1,.338-.521c1.629-.767,3.253-1.544,4.88-2.315C1178.784-252.224,1178.9-252.259,1179.051-252.313Zm-.657,11.521a.686.686,0,0,0,.024-.1c0-1.82.006-3.64,0-5.46a.344.344,0,0,0-.162-.238c-.52-.3-1.049-.585-1.575-.873-.062-.034-.13-.06-.237-.108v1.175c-.29-.137-.533-.261-.785-.366a.24.24,0,0,1-.163-.269c.008-.3.006-.6,0-.9,0-.073-.026-.183-.077-.213-.379-.221-.768-.425-1.175-.647-.005.073-.011.112-.011.152,0,1.8,0,3.59-.007,5.385a.284.284,0,0,0,.187.283q1.833,1,3.664,2.008C1178.171-240.906,1178.273-240.855,1178.394-240.792Zm1.454-17.338c-.007.081-.014.122-.014.163,0,1.793,0,3.586-.008,5.38,0,.171.089.228.21.294q1.864,1.018,3.727,2.04c.076.042.155.077.253.125.006-.09.012-.147.012-.2,0-1.585-.031-3.17.015-4.754a1,1,0,0,0-.682-1.133,13.154,13.154,0,0,1-1.305-.7v1.188c-.288-.135-.55-.241-.794-.38a.373.373,0,0,1-.155-.262c-.019-.3,0-.6-.01-.9a.3.3,0,0,0-.1-.223C1180.631-257.71,1180.256-257.907,1179.848-258.131Zm9.516,17.341a.852.852,0,0,0,.023-.116c0-1.81.007-3.62,0-5.43a.369.369,0,0,0-.171-.258c-.52-.3-1.049-.582-1.576-.869-.062-.034-.129-.057-.228-.1v1.169c-.282-.132-.526-.254-.777-.358a.254.254,0,0,1-.174-.286c.011-.3.008-.6,0-.9,0-.067-.022-.167-.067-.193-.385-.225-.779-.436-1.188-.662-.006.08-.012.121-.012.162,0,1.793,0,3.587,0,5.38a.287.287,0,0,0,.184.286q1.723.938,3.442,1.885C1188.992-240.986,1189.167-240.895,1189.364-240.79Zm-12.457-7.415c.629.345,1.211.669,1.8.981a.309.309,0,0,0,.245-.026q1.912-1.04,3.817-2.092a1.124,1.124,0,0,0,.137-.109c-.588-.3-1.15-.591-1.72-.867a.356.356,0,0,0-.27.027c-.425.212-.844.436-1.266.656Zm11.617-10.706c-.588-.3-1.132-.57-1.669-.854a.343.343,0,0,0-.366,0c-1.253.66-2.511,1.313-3.766,1.968-.062.033-.121.073-.206.125.584.319,1.143.616,1.692.93a.341.341,0,0,0,.385-.005c1.16-.641,2.324-1.274,3.486-1.911C1188.216-258.73,1188.35-258.811,1188.524-258.91Zm-.653,10.71c.629.343,1.211.666,1.8.973a.342.342,0,0,0,.266-.039q1.876-1.019,3.746-2.05c.062-.034.119-.076.2-.129-.582-.294-1.134-.566-1.678-.854a.32.32,0,0,0-.341.008c-.876.462-1.756.917-2.634,1.376C1188.79-248.686,1188.35-248.452,1187.87-248.2Zm-2.208-1.213c.356.195.688.366,1.008.557a.347.347,0,0,0,.39,0c.669-.357,1.344-.7,2.016-1.054.626-.327,1.251-.655,1.908-1-.313-.16-.6-.3-.873-.45a.381.381,0,0,0-.395,0c-1.276.614-2.556,1.22-3.835,1.83C1185.817-249.5,1185.755-249.463,1185.663-249.413Zm-10.97,0c.4.217.754.423,1.122.608a.331.331,0,0,0,.249-.038q1.884-.976,3.763-1.962c.055-.029.105-.065.181-.112-.3-.152-.578-.281-.844-.433a.394.394,0,0,0-.416-.009c-1.266.611-2.537,1.212-3.807,1.817C1174.87-249.51,1174.8-249.471,1174.693-249.416Zm11.2-10.835c-.338-.171-.615-.325-.9-.449a.464.464,0,0,0-.337,0c-.825.379-1.643.771-2.463,1.161-.53.253-1.059.508-1.631.783.372.205.708.383,1.036.575a.306.306,0,0,0,.34,0c1.082-.572,2.169-1.137,3.254-1.7Z"
                            transform="translate(-1149.927 695.747)" fill="#fff" />
                    </g>
                </svg>
                <span>User Management</span>
            </a>
        </li>
        <li>
            <a href="@Url.Action("ApprovalManagement", "Home")">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="20" viewBox="0 0 21.737 21.983">
                    <g id="pendingconfirmations" transform="translate(-190.194 -312.868)">
                        <path id="Path_3093" data-name="Path 3093"
                            d="M206.223,312.868c.071.019.144.034.214.056a1.146,1.146,0,0,1,.817,1.063c.012.578.005,1.156.006,1.734,0,.507,0,1.015,0,1.522a.586.586,0,1,1-1.172-.009q0-1.516,0-3.033v-.143h-14.7V333.62h6.493a.588.588,0,0,1,.133,1.167,1.419,1.419,0,0,1-.2.011h-6.334a1.179,1.179,0,0,1-1.268-1c0-.007-.008-.012-.013-.018V313.9c.008-.028.016-.056.023-.085a1.138,1.138,0,0,1,.592-.8,2.932,2.932,0,0,1,.415-.149Z"
                            transform="translate(0)" fill="#fff" />
                        <path id="Path_3095" data-name="Path 3095"
                            d="M277.141,409.344c-.185-.021-.37-.039-.554-.064a6.679,6.679,0,0,1-4.047-2.074,6.469,6.469,0,0,1-1.791-3.7,6.662,6.662,0,0,1,2.317-6.152,6.478,6.478,0,0,1,3.6-1.588,6.8,6.8,0,0,1,7.412,5.021c.107.409.142.836.211,1.254.005.033.013.065.019.1v.784c-.007.04-.015.08-.02.12-.027.218-.042.438-.08.654a6.7,6.7,0,0,1-2.229,3.961,6.627,6.627,0,0,1-3.575,1.626c-.188.025-.376.043-.564.065Zm5.982-6.81a5.633,5.633,0,1,0-5.654,5.628A5.638,5.638,0,0,0,283.122,402.534Z"
                            transform="translate(-72.373 -74.492)" fill="#da251c" />
                        <path id="Path_3096" data-name="Path 3096"
                            d="M226.086,355.475h4.9a.588.588,0,0,1,.125,1.168,1.3,1.3,0,0,1-.156.009h-9.738a.6.6,0,0,1-.647-.44.586.586,0,0,1,.532-.736c.142-.006.283,0,.425,0Z"
                            transform="translate(-27.298 -38.311)" fill="#fff" />
                        <path id="Path_3097" data-name="Path 3097"
                            d="M223.309,397.687c.712,0,1.425,0,2.137,0a.588.588,0,0,1,.425.994.616.616,0,0,1-.486.184q-1.214,0-2.428,0c-.586,0-1.171,0-1.757,0a.589.589,0,1,1-.028-1.178C221.885,397.685,222.6,397.687,223.309,397.687Z"
                            transform="translate(-27.317 -76.267)" fill="#fff" />
                        <path id="Path_3098" data-name="Path 3098"
                            d="M222.466,441.079c-.44,0-.881,0-1.321,0a.589.589,0,0,1-.571-.77.583.583,0,0,1,.557-.408q1.338-.005,2.675,0a.589.589,0,1,1-.009,1.178C223.354,441.083,222.91,441.079,222.466,441.079Z"
                            transform="translate(-27.291 -114.223)" fill="#fff" />
                        <path id="Path_3099" data-name="Path 3099"
                            d="M222.484,483.3c-.448,0-.9,0-1.343,0a.587.587,0,0,1-.178-1.145.746.746,0,0,1,.22-.032q1.3,0,2.6,0a.591.591,0,1,1,0,1.179Z"
                            transform="translate(-27.303 -152.193)" fill="#fff" />
                        <path id="Path_3100" data-name="Path 3100"
                            d="M320.708,430.854a3.665,3.665,0,0,1-1.588,3.351l.123.1a4.561,4.561,0,0,1,1.179,1.457,2.867,2.867,0,0,1,.3,1.306c0,.158,0,.316,0,.482H315.7a3.31,3.31,0,0,1,.338-1.881A4.933,4.933,0,0,1,317.3,434.2a3.656,3.656,0,0,1-1.588-3.351Zm-1.108,1.04h-2.775a.231.231,0,0,0,.007.052c.037.091.071.185.116.272a3.785,3.785,0,0,0,1.214,1.329.109.109,0,0,0,.1,0,4.25,4.25,0,0,0,.975-.945A2.368,2.368,0,0,0,319.6,431.894Zm.019,4.623c-.084-.172-.148-.331-.234-.477a3.95,3.95,0,0,0-1.039-1.113c-.137-.105-.138-.107-.278,0a3.708,3.708,0,0,0-1.128,1.277c-.049.1-.086.2-.133.313Z"
                            transform="translate(-112.839 -106.091)" fill="#fff" />
                    </g>
                </svg>
                <span>Approval Management</span>
            </a>
        </li>
       
    </ul>
</nav>