@model IEnumerable<IFC.Domain.Entities.Threat>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ThreatDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThreatLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDeleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Incident)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Organization)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SuspectsProfile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Wing)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ThreatDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThreatLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDeleted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Incident.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Organization.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SuspectsProfile.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wing.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
