@model IEnumerable<IFC.Domain.Entities.Organization>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalMembers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YearFounded)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThreatLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Details)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDeleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Affiliate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Involvement)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OperationalBase)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SocialMediaProfile)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalMembers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearFounded)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThreatLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Details)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDeleted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Affiliate.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Involvement.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OperationalBase.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SocialMediaProfile.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
